.main {
    background-color: var(--background);
}

body {
    font-family: "Open Sans", "Tahoma", sans-serif;
}

.icon {
    color: var(--icon-color);

    &:hover {
        color: var(--icon-color-hover);
    }
}

a.active,
a.disabled {
    pointer-events: none;

    color: var(--icon-color-disabled);

    .icon {
        color: var(--icon-color-disabled);
    }
}

.roboto-slab {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.image-filter-blue {
    filter: var(--hero-type-banner-image-filter);
}

.image-filter-brown {
    filter: var(--type-banner-brown-filter);
}

picture {
    display: inherit;
}
