.herocard {
    width: 100px;
    height: 120px;
    border: 2px solid #7d540d;
    border-radius: 10px;
    display: flex;
    transition: all 150ms;

    &::after {
        box-shadow: inset 0px 0px 2px black;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .hero-image {
        object-fit: contain;
        border-radius: 8px;
        align-self: flex-end;
        max-height: 100%;
    }

    &.legendary {
        background-image: linear-gradient(to top, var(--hero-legendary), var(--hero-legendary-complementary));
        border-color: var(--hero-legendary);

        &.interactive:not(.disabled):hover {
            box-shadow: 0 0 5px 1px var(--hero-legendary);
        }
    }

    &.epic {
        background-image: linear-gradient(to top, var(--hero-epic), var(--hero-epic-complementary));
        border-color: var(--hero-epic);

        &.interactive:not(.disabled):hover {
            box-shadow: 0 0 5px 1px var(--hero-epic);
        }
    }

    &.rare {
        background-image: linear-gradient(to top, var(--hero-rare), var(--hero-rare-complementary));
        border-color: var(--hero-rare);

        &.interactive:not(.disabled):hover {
            box-shadow: 0 0 5px 1px var(--hero-rare);
        }
    }

    &.uncommon {
        background-image: linear-gradient(to top, var(--hero-uncommon), var(--hero-uncommon-complementary));
        border-color: var(--hero-common);

        &.interactive:not(.disabled):hover {
            box-shadow: 0 0 5px 1px var(--hero-uncommon);
        }
    }

    &.disabled {
        filter: grayscale(1);
    }

    .type-banner {
        background: var(--hero-type-banner-background);
        border-radius: 8px 0 5px 0;
        padding: 4px 2px;
    }

    .color-banner {
        padding: 2px;
        border-radius: 8px 0 0 0;

        &.yellow {
            background: var(--hero-color-yellow);
        }
        &.purple {
            background: var(--hero-color-purple);
        }
        &.blue {
            background: var(--hero-color-blue);
        }
        &.green {
            background: var(--hero-color-green);
        }
        &.red {
            background: var(--hero-color-red);
        }
    }

    .color-banner-triangle {
        border-left: 0.75rem solid transparent;
        border-right: 0.75rem solid transparent;

        border-top: 4px solid;

        &.yellow {
            border-top-color: var(--hero-color-yellow);
        }
        &.purple {
            border-top-color: var(--hero-color-purple);
        }
        &.blue {
            border-top-color: var(--hero-color-blue);
        }
        &.green {
            border-top-color: var(--hero-color-green);
        }
        &.red {
            border-top-color: var(--hero-color-red);
        }
    }
}

.hero-row {
    width: min(860px, 90%);
}

.hero-ability {
    strong {
        color: var(--color-primary);
    }
}
