.hero-name {
    color: var(--hero-name-text);

    a {
        color: var(--hero-name-text);

        &:hover {
            opacity: 0.8;
        }
    }
}

.ability-name {
    color: var(--ability-name-text);

    a {
        color: var(--ability-name-text);

        &:hover {
            opacity: 0.8;
        }
    }
}

.hero-info {
    width: min(860px, 90%);
}

.type-and-class {
    .class-banner {
        background: var(--class-banner-background);
        color: var(--class-banner-text);
        border: 2px solid;
        border-color: var(--class-banner-text);
    }

    .type-banner {
        background: var(--type-banner-background);
        color: var(--type-banner-text);
        border: 2px solid;
        border-color: var(--type-banner-text);
    }
}
