:root {
    --navigation-tile-background: #2f70a6;
    --navigation-tile-background-hover: #1c496f;
    --navigation-tile-border: #5391c3;
    --navigation-tile-text: #fbf0ce;

    --color-primary: #0000ab;
    --color-primary-highlight: #0092ab;

    --link-text: #55481f;
    --link-text-hover: #150b4b;

    /* Hero colours */
    --hero-legendary: #c59138;
    --hero-legendary-complementary: #936d33;
    --hero-epic: #5c49b5;
    --hero-epic-complementary: #473a8a;
    --hero-rare: #4979b5;
    --hero-rare-complementary: #3a5c8b;
    --hero-uncommon: #789e5f;
    --hero-uncommon-complementary: #5b784c;

    --hero-type-banner-background: #d6d4e6;
    --hero-type-banner-image-filter: brightness(0) invert(11%) sepia(14%) saturate(2417%) hue-rotate(201deg)
        brightness(92%) contrast(95%);

    --hero-name-text: #55440f;
    --ability-name-text: #006f00;

    --class-banner-background: #aba7c3;
    --class-banner-text: #352242;
    --type-banner-background: #d1c6a6;
    --type-banner-text: #474531;

    --type-banner-brown-filter: brightness(0) invert(25%) sepia(7%) saturate(1582%) hue-rotate(17deg) brightness(96%)
        contrast(91%);

    --hero-color-yellow: #ffaa00;
    --hero-color-purple: #7b3be8;
    --hero-color-blue: #479aff;
    --hero-color-green: #35cf2e;
    --hero-color-red: #ff4b31;

    /* Icon colours */
    --icon-color: #000000;
    --icon-color-hover: #666666;
    --icon-color-disabled: #66666666;
}
